.heading {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.content{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  margin-top: 30px;
}

.column{
  border: 1px solid black;
  /*margin-right: 30px;*/
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: solid black 1px;
}

.navi a{
  color: black;
  padding: 15px;
}

 .heading h3{
  padding-left: 10px;
}

.collrg {
  width: 630px;
}

.colmed {
  width: 300px;
}

.colsml {
  width: 240px;
}
